#block_model {
    width: 650px;
    border: 1px solid black;
    border-radius: 5px;
    background: #00eeff;
    padding: .4em;
}

#block_model a {
    color: black;
}

#block_model_header {
    font-weight: bold;
    font-size: 1.2em;
}

#block_model_description {
    font-size: 1.2em;
}

#block_model_empty {
    height: 10px;
}

a {
    color: black;
}