.FeedbackWindow {
  width: 100%;
  height: 100%;
  z-index: 24005;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.FeedbackWindowBlock {
  background-color: darkgray;
  width: 500px;
  margin: 5px;
  padding: 5px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  padding-bottom: 30px;
  z-index: 24010;
}

.FeedbackWindowBlock .content .row {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-row-gap: 3px;
  padding-bottom: 3px;
}

.FeedbackWindowBlock .content .title {
  float: left;
  padding-left: 5px
}

.FeedbackWindowBlock .content .value {
  float: left;
}

.FeedbackWindowBlock .content .value .name, .email {
  width: 100%;
  resize: vertical;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}

.FeedbackWindowBlock .content .value .message {
  width: 100%;
  resize: vertical;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}

.FeedbackWindowBlock .Demo {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.FeedbackWindowBlock .SendButton {
  width: 200px;
  color: white;
  background-color: #12a772;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  border-radius: 3px;

  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.FeedbackWindowBlock .SendButton:hover {
  background-color: #12ccc8;
}

.FeedbackWindowBlock .SendButton:active {
  background-color: #2196F3;
}

.FeedbackWindow .close-button {
  color: darkred;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.FeedbackWindow .close-button:hover {
  color: red;
  text-decoration: none;
  font-size: 20px;
}
