<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='base_elements.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.png') }}" />
    <title>{% block title %}{% endblock %} - Image Tag</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <div id="header">
        {% block header %}
        <a href="/">IMAGE TAGS</a>
        {% endblock %}
    </div>
    <div id="nav">{% block nav %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>
</html>
