.coverage
.DS_Store
.gitignore.swp
build
data/
db/.DS_Store
dist/
docs/_build/
graph/.DS_Store
node_modules/
plynx.egg-info/
web/.DS_Store
web/static/bower_components/
*.pyc
venv
ui/report.20200526.173030.25.0.001.json
.idea
