version: "3.3"
services:
    mongodb:
        image: mongo:3.6-jessie
        container_name: "mongodb"
        environment:
            - MONGO_DATA_DIR=/data/db
            - MONGO_LOG_DIR=/dev/null
        volumes:
            - ./data/db:/data/db
        ports:
            - 27017:27017
        command: mongod --smallfiles --logpath=/dev/null # --quiet

    master:
        image: plynxteam/backend
        container_name: "master"
        depends_on:
            - mongodb
        links:
            - mongodb
        volumes:
            - ./plynx:/app/plynx
        environment:
            - PLYNX_MODE=worker -e basic-dag-workflow
            - PLYNX_CONFIG=/app/config.yaml
        command: sh /app/watch.sh

    workers:
        image: plynxteam/backend
        depends_on:
            - mongodb
        links:
            - mongodb
        volumes:
            - ./data:/data
            - ./plynx:/app/plynx
        environment:
            - PLYNX_MODE=worker -e basic-bash-jinja2-operation -e basic-python-node-operation -e basic-dag-operation
            - PLYNX_CONFIG=/app/config.yaml
        command: sh /app/watch.sh

    api:
        image: plynxteam/backend
        container_name: "api"
        ports:
            - "5000:5000"
        depends_on:
            - mongodb
        links:
            - mongodb
        volumes:
            - ./data:/data
            - ./plynx:/app/plynx
        environment:
            - PLYNX_MODE=api
            - PLYNX_CONFIG=/app/config.yaml
        command: sh /app/watch.sh

    frontend:
        image: plynxteam/ui_dev:latest
        container_name: "frontend"
        ports:
            - "3001:3000"
        depends_on:
            - api
        links:
            - api
        volumes:
            - ./ui:/app
        tty: true
        command: npm start
