cloudpickle>=3.1.0
pymongo>=4.10.1
pyyaml>=6.0.2
passlib>=1.7.4
Flask>=3.0.0
pyjwt>=2.8.0
Flask-Cors>=4.0.0
Flask-HTTPAuth>=4.8.0
gevent>=24.11.1
smart-open>=7.1.0
requests==2.32.3
types-requests==2.32.0.20241016
future>=1.0.0
dataclasses-json>=0.6.7
urllib3>=2.2.3
