cloudpickle>=3.0.0
pymongo>=4.6.1
pyyaml>=6.0.1
passlib>=1.7.4
Flask>=3.0.0
pyjwt>=2.8.0
Flask-Cors>=4.0.0
Flask-HTTPAuth>=4.8.0
gevent>=23.9.1
smart-open>=6.4.0
requests==2.18.4
types-requests==2.28.11.7
future>=0.18.3
dataclasses-json>=0.6.3
google-api-python-client>=2.111.0
google-auth>=2.26.1
