/* node stuff */
.MainGraph {
  height: 100%;
}

.svg-graph {
  background: url('gridtile.png');
  display: inline;
}

.node {
  position: absolute;
  width:180px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);
  box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,.7);
  user-select: none;
}

.node.selected {
  box-shadow: 0 0 8px 3px #99F;
}

.node-seperator {
  color: black;
  border-color: black;
}

.node-content {
  padding: 0px 0px 10px 0px;
}

.node-header {
  cursor: all-scroll;

  background: #000;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #353535;

  height: 23px;

  font-size: 13px;
  letter-spacing: 1px;

  color:white;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 13px;
}

.node.selected .node-header {
  background: #335;
}

.node-header-title {
  font-size:10px;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 0px 0px 5px;
  display: flex;
  flex-direction: row;
}

.operation-icon {
  width: 16px;
  height: 16px;
}

.operation-title-text {
  margin-left: 5px;
}

.node-header > .remove {
  color: pink;
  float: right;
  cursor: pointer;
  width: 12px;
  font-size: 15px;
  text-decoration: none;
}

.node-header > .remove:hover {
  color: red;
}


.node-title {
  color: #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 3px 0 3px;
}

.node.status-deprecated > .node-header, .node.status-deprecated > .node-title {
  text-decoration: line-through;
}

.node.status-mandatory_deprecated > .node-header, .node.status-mandatory_deprecated > .node-title {
  text-decoration: line-through;
}

.node.running-status-in_queue {
  background-color: rgba(100, 100, 100, 0.7);
}

.node.running-status-running {
  background-color: rgba(0, 100, 100, 0.6);
}

.node.running-status-failed {
  background-color: rgba(100, 0, 0, 0.7);
}

.node.running-status-success {
  background-color: rgba(0, 100, 0, 0.7);
}

.node.running-status-static {
  background-color: rgba(128, 96, 44, 0.6);
}

.node.running-status-restored {
  background: repeating-linear-gradient(
      -45deg, rgba(0, 100, 0, 0.7), rgba(0, 100, 0, 0.7) 20px, rgba(128, 96, 44, 0.6) 20px, rgba(128, 96, 44, 0.6) 25px
      );
}

.node.running-status-canceled {
  background-color: rgba(145, 80, 80, 0.6);
}

.node.running-status-special {
  background-color: rgba(145, 80, 145, 0.6);
}

.node-running-status-in_queue .svg-graph {
  background-color: #333333;
}

.node-running-status-running .svg-graph {
  background-color: #004466;
}

.node-running-status-failed .svg-graph {
  background-color: #440000;
}

.node-running-status-success .svg-graph {
  background-color: #004400;
}

.node-running-status-canceled .svg-graph {
  background-color: #552020;
}

.node.error-highlight {
  box-shadow: 0 0 8px 3px #ff0000;
}

.node.error-highlight .node-header {
  background: #733;
}

.connector {
  fill:none;
  stroke-opacity: 0.6;
}

.connector-click-area {
  cursor: pointer;
  fill:none;
  stroke:transparent;
  stroke-width:15;
}

.connector-click-area:hover + .connector,
.connector:hover {
  cursor: pointer;
  stroke-opacity: 1.0;
}

.connector.selected {
  stroke: #337ab7;
}

.select-rect {
  fill: rgba(153, 153, 255, 0.1);
  stroke-width: 1;
  stroke: rgb(255,255,255);
}

.trash-icon .trash-icon-trashcan {
  opacity: 0.8;
}

.trash-icon:hover {
  cursor: pointer;
}

.trash-icon:hover .trash-icon-bg {
  stroke:#337ab7;
  stroke-width: 2;
  opacity: 0.5;
}

.trash-icon:hover .trash-icon-trashcan {
  opacity: 1;
}

.nodeInputWrapper {
  width : 50%;
  float: left;
  text-align: left;
  vertical-align: text-bottom;
}

.nodeOutputWrapper {
  width : 50%;
  float: right;
  text-align: right;
}


.nodeInputList, .nodeOutputList {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.nodeOutputList li {
  cursor: pointer;
  color: #337ab7;
  height: 20px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.nodeOutputList li div {
  font-size:10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
  display: block;
  padding-right: 5px;
  color: #eee;
}

.nodeParameterWrapper {
 margin: 3px;
}

.nodeParameterWrapper > .parameterItem {
  cursor: pointer;
  height: 20px !important;
  width: 100%;
  font-size:10px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #eee;
}

.nodeParameterWrapper > .parameterItem > .button {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #777;
  display: block;
  height: 20px !important;
  cursor: pointer;

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.nodeParameterWrapper > .parameterItem > .button img {
  vertical-align:middle;
}

.nodeParameterWrapper > .parameterItem > .button:hover {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
}

.nodeParameterWrapper > .parameterItem > .button:active {
  background-color: #62a6f3;
}


.editable .nodeOutputList li div {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.editable .nodeOutputList li div:hover {
  background-color: rgba(33, 150, 243, 0.3);
}

.nodeOutputList li img, .nodeOutputList li svg {
  vertical-align:middle;
  margin-left: 2px;
}

.nodeOutputList li div i {
  padding-left: 6px;
}

.nodeOutputList li:hover div i {
  font-size: 15px;
  margin-top: 3px;
  margin-right: -2px;
  padding-left: 3px;
}

.nodeOutputList li:hover div {
  font-weight: bold;
}

.nodeInputList li {
  height: 20px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.nodeInputList li div {
  cursor: default;
  font-size:10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
  padding-left: 5px;
  color: #eee;
}

.editable .nodeInputList li div {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.editable .nodeInputList li div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nodeInputList li img, .nodeInputList li svg {
  vertical-align:middle;
  margin-right: 2px;
}

.nodeInputList li div i {
  padding-right: 6px;
}

.dragging .nodeInputList li div i.hover {
  vertical-align: middle;
  font-size: 15px;
  color: #ffffff;
  margin-top: 2px;
  margin-left: -2px;
  padding-right: 3px;
}

.dragging .nodeInputList li div i.hover + span {
  vertical-align: middle;
  font-weight: bold;
  color: #ffffff;
}

.inputDot {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  background: #e6e6e6;
  border-radius: 50%;
  top: 0;
  right: 3px;
  left: auto;
  border: 2px solid #fff;
}


.EndPoint { fill:none; stroke:#888888; stroke-width:2 }

.pin-input {
  background: transparent;
  padding: 5px;
  width: 50px;
  display: inline-block;
  margin-left: 16px;
  border-color: #333333;
}

.node-menu {
  display: block;
  z-index: 10020;
}
