
.GraphNode {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  display: flex;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.NodesBar {
  width: 250px;
  height: 100%;
  display: inline-block;
  flex-direction: column;
}

.NodesBarInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.NodeBarHeader > .menu {
  margin: 3px;
}

.NodeBarHeader > .search {
  margin: 3px 3px 3px 6px;
}

.NodeBarHeader .menu .menuButton,.selected {
  background-color: #62a6f3;
}

.NodeBarList {
  flex: 1;
  overflow:auto;
  background: url('dark-circles.png');
  height: 1px;
}

.NodeItemDnD {
  cursor: grab;
}

.BackgroundLabels {
  position: fixed;
  z-index: 10000;
  color: white;
  bottom: 20px;
  line-height: normal;
}

.BackgroundLabels.readonly {
  left: 30px;
}

.BackgroundLabels.editable {
  left: 280px;
}

.BackgroundLabels > .Title {
  font-size: 30px;
}

.BackgroundLabels > .Description {
  font-size: 20px;
}

.GraphRoot {
  flex: 1;
  overflow: scroll;
  display: inline-block;
  height: 100%;
}

.PropertiesBar {
  background-color: #2b2b2b;
  width: 300px;
  padding: 5px;
  overflow: auto;
}

.PropertiesHeader {
  color: #fff;
  vertical-align: middle;
  font-weight: 900;
  font-size: 17px;
  padding: 4px;
  cursor: pointer;
}

.PropertiesBar a {
  text-decoration: none;
}

a .PropertiesHeader:hover {
  text-decoration: underline;
}

.PropertiesBoxRoot {
  padding-top: 10px;
}

.PropertiesBox {
  color: #fff;
}

.PropertiesBoxHeader {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 0px 3px 5px;
}

.PropertiesBoxContent {
  color: #fff;
  background-color: #404040;
  padding: 4px 0px 4px 0px;
}

.PreviewBoxContent {
  color: black;
  font-family: monospace;
  text-align: left;

  width: 100%;
  height: 100%;
}

.PreviewBoxContent pre {
  margin-top: 7px;

}

.PreviewBoxContent .note {
  color: black;
  font-family: 'Source Sans Pro', sans-serif, bold;
  font-weight: 700;
  text-align: left;

  width: 100%;
  height: 100%;
}

.PreviewBoxContent .note .preview-download-link {
  margin-left: 5px;
  cursor: pointer;
  color: #337ab7;
  display: inline;
}
