.file-list-item {
  display: grid;
  grid-template-columns: 1fr 250px 300px 250px 250px;
}

.file-list-item .Title {
  font-weight: 700;
  font-size: 15pt;
}

.file-list-item .Type .Widget {
  display: inline-block;
  width: 150px;
  background-color: #c29b3c;
  text-align: center;
  border-radius: 2px;
  border: 1px #bbb solid;
}

.file-list-item .Type .Widget img {
  vertical-align:middle;
}

.file-list-item .Status.READY {
  color:green;
}

.file-list-item .Status.DEPRECATED {
  color:red;
}
