body {
    height: 100%;
}


div.container {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

#header, #footer {
    padding: 1em;
    color: white;
    background-color: #444;
    clear: left;
    text-align: center;
}

#nav {
    float: left;
    max-width: 200px;
    margin: 1em;
    padding: 1em;
    border-right: 1px dotted gray;
}

#nav ul {
    list-style-type: none;
}

#nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #00b;
}

#content {
    border-left: 1px dotted gray;
    margin-left: 150px;
    margin-top: 1em;
    padding: 1em;
    overflow:scroll;
}

#header a {
    color: white;
    font-size: 27px;
    text-decoration: none;
}

#footer2 {
    position: fixed;
    bottom: 0;
    width: 100%;
}
