.FeedbackButton {
  width: 200px;
  color: white;
  background-color: #12a772;
  text-align: center;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  border-radius: 3px;
  z-index: 24000;

  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0);

  text-decoration: none;

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.FeedbackButton:hover {
  background-color: #12ccc8;
}

.FeedbackButton:active {
  background-color: #2196F3;
}
