.option-grid {
    background-color: #2b2b2b;
    border: 1px solid #404040;
    padding: 5px;
    margin: 13px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 13pt;
}

.header {
    margin: 10px 0px 5px 15px;
    font-weight: 800;
    font-size: 16pt;
}

.option-wrapper {
    /* pass */
}

.option-cell {
    border-radius: 4px;
    margin: 5px;
    color: #ddd;
    font-weight: 400;
    font-size: 12pt;
    padding: 5px;
    background-color: #404040;
}

.option-header,
.option-cell {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.setting-changes {
    margin-top: 14px;
    color: #ccc;
    font-weight: 400;
    font-size: 12pt;
}