.Header {
  display: table-cell;
  vertical-align: middle;
  padding: 8px 16px;
  background-color: #111;
  font-size: 17pt;
  font-family: monospace;
  text-align: left;
}

.Header .logo {
  padding-left: 10px;
  padding-right: 10px;
}

.Header .menu-sl-show {
  display: block;
}

.Header .menu-sl-hide {
  display: none;
}

.Header .menu-button-sl {
  padding: 5px;
  position: absolute;
  top: 2px;
  left: 200px;
  cursor: pointer;
  display: flex;
}

.Header .menu-button-sl img {
  display:block;
}

.menu-button-sl-text {
  font-weight: 300;
  color: #ccc;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 10px;
}

.Header .logo, .Header .menu-button-sl {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.Header .logo:hover, .Header .menu-button-sl:hover {
    color: white;
    background-color: #333;
}

.Header .logo:active, .Header .menu-button-sl:active {
  background-color: #62a6f3;
}

.Header > .logo > .icon {
  vertical-align: middle;
  height: 20px;
}

.Header a:hover {
  text-decoration: underline;
}

.Header .Navigation {
  position: absolute;
  font-weight: 300;
  color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.Header .NavigationItems {
  text-align:left;
  background-color:inherit;
  color:inherit;
}

.Header .NavigationItems .Item {
    display:inline-block;
    padding: 0px 18px 0px 18px;
    box-sizing: border-box;
    text-align:left;
    background-color:inherit;
    color:inherit;
    border:none;
    outline:none;
    white-space:normal;
    text-decoration: none;

    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.UserButton {
  position: fixed;
  top: 8px;
  right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  display: flex;
}

.UserButton .button {
  display: inline-block;
  padding: 0px 15px 0px 15px;;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.UserButton .username {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.UserButton .action {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.UserButton .action:hover {
  color: #337ab7;
  text-decoration: underline;
}

/* Mobile dependent */

.Header .Navigation {
  background-color: #111;
}

.Header .NavigationItems {
  display: grid;
  padding: 5px;
}

.Header .separator {
  display: inline-block;
  border-bottom: 1px #333 solid;
  height: 0px;
}

.Header .Navigation {
  top: 40px;
  left: 0px;
  width: 100%;
}

.Header .NavigationItems .Item:hover:not(.active) {
    color: white;
    background-color: #333;
}

.Header .NavigationItems .Item {
  padding: 8px;
  margin: 5px;
}

.Header .NavigationItems .active {
    color: #2196F3;
    border-left: 3px solid #2196F3;
}

.Header .NavigationItems .active:hover {
    background-color: #134177;
}

@media (min-width: 1100px) {
  .Header .NavigationItems {
    display: block;
    padding: 0;
  }

  .Header .separator {
    display: inline-block;
    border-left: 1px #333 solid;
    width: 0px;
    height: auto;
  }

  .Header .Navigation {
    top: 6px;
    left: 180px;
    width: auto;
    height: auto;
  }

  .Header .NavigationItems .Item:hover:not(.active) {
    border-bottom: 1px solid white;
  }

  .Header .NavigationItems .active {
    border-left: 0;
    border-bottom: 3px solid #2196F3;
  }

  .Header .NavigationItems .Item {
    padding: 0px 18px 0px 18px;
    margin: 0px;
  }
}
