.graph-list-item {
  grid-template-columns: 200px 100px 1fr 200px 200px;
}

.graph-list-item .TitleDescription {
  min-width: 200px;
  text-overflow: inherit;
  overflow: inherit;
}

.graph-list-item .TitleDescription .Title {
  font-weight: 700;
  font-size: 15pt;
  text-overflow: inherit;
  overflow: inherit;
}

.graph-list-item .TitleDescription .Description {
  text-overflow: inherit;
  overflow: inherit;
}

.graph-list-item .Id {
  min-width: 300px;
}

.graph-list-item .Status.CREATED {
  color: black;
}

.graph-list-item .Status.SUCCESS {
  color: green;
}

.graph-list-item .Status.FAILED {
  color: red;
}

.graph-list-item .Status.RUNNING {
  color: blue;
}

.graph-list-item .Status.CANCELED {
  color: #936;
}

.graph-list-item .Status.FAILED_WAITING {
  color: #a0a;
}


@media (min-width: 1100px) {
  .graph-list-item {
    grid-template-columns: 300px 200px 300px 250px 250px;
  }
}
