.graph-list-item {
  display: grid;
  grid-template-columns: 1fr 300px 250px 250px 250px;
}

.graph-list-item .Title {
  font-weight: 700;
  font-size: 15pt;
}

.graph-list-item .Status.CREATED {
  color: black;
}

.graph-list-item .Status.SUCCESS {
  color: green;
}

.graph-list-item .Status.FAILED {
  color: red;
}

.graph-list-item .Status.RUNNING {
  color: blue;
}

.graph-list-item .Status.CANCELED {
  color: #936;
}

.graph-list-item .Status.FAILED_WAITING {
  color: #a0a;
}
