#general_table {
    border: 1px solid gray;
    overflow:auto;
}

#table_header td {
    background: #666;
    font-size: 1.2em;
    font-weight: bold;
    padding: .4em;
}

#general_table .table_content td {
    font-size: 1em;
    padding: .4em;    
}

#general_table .even {
    background: #999;
}

#general_table .odd {
    background: #BBB;
}

#general_table a {
    color: #00b;
}
