apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.18.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: backend
  name: backend
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: backend
    spec:
      volumes:
      - name: google-cloud-key
        secret:
          secretName: gs-key
      - name: plynx-secret-key
        secret:
          secretName: secret-key
      containers:
      - image: khaxis/plynx:base
        name: backend
        command:
          - plynx
          - backend
          - "-vvvv"
          - "--db-host"
          - mongo
          - "--storage-scheme"
          - $(STORAGE_SCHEME)
          - "--storage-prefix"
          - $(STORAGE_PREFIX)
          - "--secret-key"
          - $(SECRET_KEY)
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            port: 5000
            path: /health
        imagePullPolicy: Always
        volumeMounts:
        - name: google-cloud-key
          mountPath: /var/secrets/google
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/secrets/google/key.json
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: secret-key
              key: secret.txt
        - name: STORAGE_SCHEME
          valueFrom:
            configMapKeyRef:
              name: storage-config
              key: storage-scheme
        - name: STORAGE_PREFIX
          valueFrom:
            configMapKeyRef:
              name: storage-config
              key: storage-prefix
      restartPolicy: Always
