.NodeListItem {
  border-radius: 4px;
  margin: 3px;
  color: black;
  font-weight: 409;
  font-size: 12pt;
  display: grid;
  grid-template-columns: 1fr 300px 250px 250px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.NodeListItem:hover {
  background-color: #ccc;
}

.NodeListItem:active {
  background-color: #62a6f3;
}

.NodeListItem .Title {
  font-weight: 700;
  font-size: 15pt;
}

.NodeListItem .Status.CREATED {
  color:blue;
}

.NodeListItem .Status.READY {
  color:green;
}

.NodeListItem .Status.DEPRECATED {
  color:red;
}
