.node-list-item {
  display: grid;
  grid-template-columns: 1fr 300px 250px 250px;
}

.node-list-item .Title {
  font-weight: 700;
  font-size: 15pt;
}

.node-list-item .Status.CREATED {
  color:blue;
}

.node-list-item .Status.READY {
  color:green;
}

.node-list-item .Status.DEPRECATED {
  color:red;
}
