.node-list-item {
  grid-template-columns: 200px 200px 1fr 200px 200px;
}

.node-list-item .Title {
  font-weight: 700;
  font-size: 15pt;
}

.node-list-item .Id {
  min-width: 300px;
}


.node-list-item .Status.CREATED {
  color:blue;
}

.node-list-item .Status.READY {
  color:green;
}

.node-list-item .Status.DEPRECATED {
  color:red;
}

@media (min-width: 1100px) {
  .node-list-item {
    grid-template-columns: 300px 300px 300px 250px 250px;
  }
}
