.list {
  background-color: #eee;
  overflow: auto;
  flex: 1 1;
}

.list-item {
  border-radius: 4px;
  margin: 3px;
  color: black;
  font-weight: 400;
  font-size: 12pt;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: inline-grid;

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  background-color: #eee;
}

.header-item .list-field, .list-item .list-field {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-header {
  margin: 3px;
  color: black;
  font-weight: 800;
  font-size: 13pt;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  display: inline-grid;
}

.list-item:hover {
  background-color: #ccc;
}

.list-item:active {
  background-color: #62a6f3;
}

.list-item .ItemHeader {
  display: inline-grid;
  grid-template-columns: 1fr 40px;
}

.list-item .TitleDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item .TitleDescription .Title {
  font-weight: 700;
  font-size: 15pt;
  text-overflow: inherit;
  overflow: inherit;
}

.list-item .TitleDescription .Description {
  text-overflow: inherit;
  overflow: inherit;
}

.list-item .star-hidden {
  display: none;
}

.list-item .star-visible {
  display: block;
}
