.SearchBar {
  border: 1px solid #202020;
  border-radius: 2px;
  display: block;
  grid-template-columns: auto auto;
  background-color: #2b2b2b;
}

.SearchBar > .Bar {
  border: 0px;
  font-size: 12pt;
  padding-left: 20px;
  background: url(/icons/search.svg) no-repeat scroll 2px 2px;
  background-size: 16px 16px;
  width: 100%;
  color: #fff;
}
